<!-- 
 File: base.html
 Author: João Pedro Rocha (jprocha@bu.edu), 04/01/2025
 Description: html file containg the base template for the voter_analytics application. Contains header for the page.
-->

{% load static %}
<html>
    <head>
        <title>Voter Analytics</title>
        <link rel="stylesheet" href="{% static 'voter_analytics/styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Voter Analytics</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'voters' %}">Home</a></li>
                    <li><a href="{% url 'graphs' %}">Graphs</a></li>
                </ul>

            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>