<!-- 
 File: graphs.html
 Author: João Pedro Rocha (jprocha@bu.edu), 04/02/2025
 Description: html file containg the template for the graphs page of the voter_analytics application. Displays the graphs contained in the context object, and also contains a search form to filter results.
-->

{% extends 'voter_analytics/base.html' %}

{% block content %}
<main>
    <h1>Graphs</h1>
    <div>
        {% include "voter_analytics/search_graph.html" %}    
    </div>
    <br>
    <div>
        <div>
            <!-- safe: render the HTML rather than display the HTML as text -->
            {{graph_div_age_dist|safe}} 
        </div>
    </div>
    <br>
    <div>
        <div>
            <!-- safe: render the HTML rather than display the HTML as text -->
            {{graph_div_party|safe}} 
        </div>
    </div>
    <br>
    <div>
        <div>
            <!-- safe: render the HTML rather than display the HTML as text -->
            {{graph_div_election|safe}} 
        </div>
    </div>
    
</main>


{% endblock %}