<!-- 
 File: show_all_moves.html
 Author: João Pedro Rocha (jprocha@bu.edu), 04/17/2025
 Description: html file containg the page that displays all of the moves that have currently been created in the project.
-->


{% extends 'project/base.html' %}


{% block content %}
<h2>All Moves</h2>
<h4><a href="{% url 'create_move' %}">Create Move</a></h4>
<main class="grid-container">

    <table>
        <tr>
            <th>Name </th>
            <th>Type </th>
            <th>Category</th>
            <th>Power </th>
            <th>PP </th>
            <th>Accuracy </th>
            <th>View Description </th>
            <th>Delete move</th>
        </tr>
    {% for m in moves %}
     
        <tr>
           
            <td> {{m.name}} </td>
            <td>{{ m.get_type_display }}</td>
            <td>{{ m.get_category_display }}</td>
            <td>{{ m.power }}</td>
            <td>{{ m.powerpoints }}</td>
            <td>{{ m.accuracy }}</td>
            <td><a href="{% url 'show_move_description' m.pk %}"> description </a></td>
            <td><a href="{% url 'delete_move' m.pk %}"> remove </a></td>

        </tr>
 
    {% endfor %}
    </table>

</main>
{% endblock %}