<!-- 
 File: show_profile.html
 Author: João Pedro Rocha (jprocha@bu.edu), 02/18/2025
 Description: html file containg the the template for showing a single profile for the mini_fb application. Also handles displaying all status messages relating to that profile, and all images relating to that status message
 This for also contains links to delete/update status essages for this profile, and to update the profile
-->

{% extends 'mini_fb/base.html' %}

{% block content %}
<main class="grid-container">
    
    <article class="featured">
        <table>
            <tr>
                <th>Profile image</th>
                <th>First name</th>
                <th>Last name</th>
                <th>City</th>
                <th>Email</th>
            </tr>
            <tr>
                
                <td>
                    {% if profile.profile_image_url %}
                    <img src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}" height="250" width="300">
                    </a>
                    {% endif %}
                </td>

                <th> {{profile.first_name}}</th>
                <th> {{profile.last_name}}</th>
                <td> {{profile.city}}</td>
                <td> {{profile.email}}</td>
                
                
            </tr>

        </table>
        <h4> <a href="{% url 'update_profile' profile.pk %}">Update this profile</a></h4>
    </article>

    <article>
        <h2>Status Messages</h2>

        <h3>
            <a href="{% url 'create_status' profile.pk %}">Create a status message</a>
        </h3>

        {% if profile.get_all_status_messages %}
        <table>
        {% for message in profile.get_all_status_messages %}

            <tr>
                <td>
                <strong>{{message.message}}</strong>
                <p>Published at {{message.timestamp}}</p>
                
                <br>

                <!-- Get images if they exist -->
                {% for status_img in message.get_images %}
                    <img src='{{status_img.image.image_file.url}}' alt='{{status_img.image.image_file.url}}' height="100" width="150" style="display: inline;">
                {% endfor %}
                <br>
                <a href="{% url 'update_status' message.pk %}">Update message</a>
                <br>
                <a href="{% url 'delete_status' message.pk %}">Delete message</a>

                </td>
            </tr>

        {% endfor %}
        </table>
        {% endif %}
        

    </article>
    
    
</main>
{% endblock %}