<!-- 
 File: show_all_profiles.html
 Author: João Pedro Rocha (jprocha@bu.edu), 02/18/2025
 Description: html file containg the the main page for the mini_fb application. Displays all profiles registered in the applicatoion.
-->


{% extends 'mini_fb/base.html' %}

<!-- scriptlet code to display the value of the variable `articles` 
{{ articles }}
-->
{% block content %}
<h2>All Profiles</h2>
<main class="grid-container">

    <table>
        <tr>
            <th>Profile image</th>
            <th>First name</th>
            <th>Last name</th>
            <th>City</th>
        </tr>
    {% for profile in profiles %}
        <tr>
            <td>
                {% if profile.profile_image_url %}
                <a href="{% url 'show_profile' profile.pk %}">
                    <img src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}" height="150" width="200">
                </a>
                {% endif %}
            </td>

            <td>  <a href="{% url 'show_profile' profile.pk %}"> {{profile.first_name}} </a> </td>
            <td>{{profile.last_name}}</td>
            <td>{{profile.city}}</td>
            
        </tr>
    {% endfor %}
    </table>

</main>
{% endblock %}