<!-- 
 File: show_profile.html
 Author: João Pedro Rocha (jprocha@bu.edu), 02/18/2025
 Description: html file containg the the template for showing a single profile for the mini_fb application.
-->

{% extends 'mini_fb/base.html' %}

{% block content %}
<main class="grid-container">
    
    <article class="featured">
        <table>
            <tr>
                <th>Profile image</th>
                <th>First name</th>
                <th>Last name</th>
                <th>City</th>
                <th>Email</th>
            </tr>
            <tr>
                
                <td>
                    {% if profile.profile_image_url %}
                    <img src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}" height="250" width="300">
                    </a>
                    {% endif %}
                </td>

                <th> {{profile.first_name}}</th>
                <th> {{profile.last_name}}</th>
                <td> {{profile.city}}</td>
                <td> {{profile.email}}</td>
                
                
            </tr>
        </table>
    </article>

    <article>
        <h2>Status Messages</h2>

        <h3>
            <a href="{% url 'create_status' profile.pk %}">Create a status message</a>
        </h3>

        {% for message in profile.get_all_status_messages %}

            <p>{{message.message}}</p>
            <strong>Published at {{message.timestamp}}</strong>
            
            <!-- Get images if they exist -->
            {% for status_img in message.get_images %}
                <img src='{{status_img.image.image_file.url}}' alt='{{status_img.image.image_file.url}}'>
            {% endfor %}


        {% endfor %}

    </article>
    
    
</main>
{% endblock %}