<!-- 
 File: about.html
 Author: João Pedro Rocha (jprocha@bu.edu), 02/04/2025
 Description: html file containing the about page for the quotes application. Describes this application and who Tony Stark is.
-->

{% extends 'quotes/base.html' %}

{% block content %}

<main>
    <h3>About page</h3>

    <p>Welcome to the Quote of the Day application!</p>

    <p>This application displays quotes by and images of Tony Stark.</p>

    <p>Tony stark is one of the most famous members of the Avengers, Earth's mightiest defenders. When dawning his iron suit, he is known as the Iron Man. </p>

    <p>This app was created by jprocha@bu.edu</p>
</main>

{% endblock %}