<!-- 
 File: show_all.html
 Author: João Pedro Rocha (jprocha@bu.edu), 02/04/2025
 Description: html file containg the show_all page for the quotes application. Displays all quotes and images from Tony Stark stored in the views file.
-->


{% extends 'quotes/base.html' %}
{% load static %}

{% block content %}

<main>
    <h2>All quotes by Tony Stark</h2>

    {% for quote in quotes %}
        <p>{{quote}}</p>
    {% endfor %}

    <h2>All images of Tony Stark</h2>

    {% for image in images %}
        <img src="{% static image %}" alt="Image {{ forloop.counter }}" style="width:600px;height:600;">
    {% endfor %}
</main>


{% endblock %}